/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.start-container{
    height: 100vh;
    width: 100vw;
    background-color: blue;
}
.start-content{
    height: inherit;
    width: inherit;
    border: 2px solid red;
    text-align: center;
    padding: 1rem 1rem;
}
.supermarket-heading{
    color: white;
    font-size: 2.6rem;
}
#shopping-cart{
    border:2px solid red;
    display: block;
    display: inline-block;
    display: flex;
    align-self: center;
    margin: auto;
} */
/* Login Page */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(224, 224, 224);
}
.d-flex,.display-flex{
    display: flex;
}
.f-grow-1{
    flex-grow: 1;
}
.d-block,.display-block{
    display: block;
}
.d-inline{
    display: inline;
}
.greyText{
    color: gray;
}
.blueText{
    color: rgb(85, 85, 255);
}
.centerText{
    text-align: center;
}
.my-2{
    margin: 0.6em 0;
}
.my-3{
    margin: 1.8em 0 0 0;
}
.decoNone{
    text-decoration: none;
}
#software-house-heading{
    font-size: 1.7rem;
    width: fit-content;
    color:olive;
    margin: 1rem auto;
}
#login-container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 3% 12% 0 12%;
}
#loginLeft{
    padding: 5% 4% 5% 5%;
    background-color: white;
}
.fa-key,
.fa-user-circle,
.fa-facebook-square,
.fa-twitter,
.fa-google{
    border: 2px solid rgb(211, 211, 211);
    padding:0.2em;
    cursor: pointer;
    font-size: 1.3rem;
}
.input{
    padding:0.5em 0.6em 0.5em 0.5em;
    margin: 0.74em 0 0.5em 0;
    height: 2.1em;
    width: 80%;
    font-size: 1em;
    outline: none;
    border: 2px solid rgb(211, 211, 211);
}
.fa-eye{
    margin-left: -2.5rem; 
    cursor: pointer;
}

#checkBox{
    margin: 0.1rem 0.3rem;
    cursor: pointer;
}
#loginBtn{
    padding: 3%;
    width: fit-content;
    color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.24rem;
    text-decoration: none;
    background-color: rgb(73, 73, 255);
}
#forgotPassword{
    width: fit-content;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
#login-from-sites-container{
    display: grid;
    justify-content: center;
    grid-template-rows: 3.1rem 3.2rem 3.2rem;
    margin-top:1.3em;
}
.loginFromSite{
    text-align: center;
}
.siteIcons{
    display: inline-block;
    font-size: 0.9rem;
    opacity: 0.8;
    padding: 0.3em 0.4em;
    border-radius: 0.3em;
}
.siteLogins{
    padding: 0.25rem 0;
    color: white;
    display: inline-block;
    font-size: 0.9rem;
    width: 11.4rem;
    text-decoration: none;
    border-radius: 0.3rem;
}
#googleLogin,.fa-google,#facebookLogin,.fa-facebook-square{
    color: #28a745;
    background-color: transparent;
    border:1px solid #28a745;
}
#facebookLogin:hover, #googleLogin:hover,.fa-google:hover,.fa-facebook-square:hover{
    background-color: #28a745;
    color:white;
    transition: all 0.3s ease-in;
}
#twitterLogin,.fa-twitter{
    color: #6c757d;
    background-color: transparent;
    border:1px solid #6c757d;
}
#twitterLogin:hover,.fa-twitter:hover{
    background-color: #6c757d;
    color: white;
    transition: all 0.3s ease-in;
}

#loginRightImage{
    max-width: 100%;
    height: 100%;
}

@media only screen and (max-width: 800px){
    html{
        font-size: 85%;
    }
}
@media only screen and (max-width: 600px){
    html{
        font-size: 72%;
    }
    #login-container{
        margin: 3% 8% 0 8%;
        
    }
}
@media only screen and (max-width: 450px){
    html{
        font-size: 70%;
    }
    #login-container{
        margin: 3% 0% 0 0%;
        /* margin: 0; */
    }
}