*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grey-text{
    color: gray;
}
#body-container{
    margin: 10%;
}
#login-container{
    display: grid;
    grid-template-columns: 50% auto;
    align-items: center;
    border: 2px solid green;
}
#login-form{
    border:2px solid red;
}
#login-form>input{
    width: 45%;
    height: 10%;
}
#login-image{
    border:2px solid blue;
}