@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    margin: 3rem auto;
    width: 70%;
}
.inputContainer{
    padding: 1rem;
    border: 2px solid rgb(214, 214, 214);
}
#textarea{
    padding: 1rem;
    width: 100%;
    font-size: 112%;
    font-family: baloo Bhai;
    outline: none;
}
.btn{
    margin: 1rem 0;
    padding: 0.4rem;
    width: fit-content;
    height: 1.8rem;
    font-size: 1rem;
    background-color: rgb(160, 160, 253);
    outline: none;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
}
hr{
    margin:0.7rem;
}
.container>h3{
    margin: 0.8rem 0;
}
.noteBox{
    display: inline-block;
    line-height: 1.5rem;
    width: 25%;
    margin: 0.4rem 0.3rem;
    padding: 0.7rem 0rem 0rem 1rem;
    border:2px solid rgb(214, 214, 214);
}
.noteBox p{
    margin: 0.8rem 0;    
}
.textField{
    padding:0.4rem;
    margin:0.8rem 0;
    font-size: 112%;
    font-family: baloo Bhai;
}